<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Skeleton application demoing Heroku and Flask integration.">
    <meta name="author" content="@gotoariel">
    <!-- <link rel="icon" href="favicon.ico"> -->

    <title>SGD-TICKER-APP</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-left">
          <h1>SGD Ticker Lookup App</h1>
          <p>What was going on with the stock Market in October 2016?</p>
          <form action="#">
              <p>What stock do you want? (format = NSE/AAPL) <input type="text" id="stock_name" /></p>
              <input type="submit" value="Submit" id="submit_button" />
          </form>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script>
        console.log("Check Output");
        $("#submit_button").click(function() {
          var stockName = $("#stock_name").val();
          console.log("STOCK NAME " + stockName);
          $.post("http://localhost:5000/data", { stockName: stockName }, function(data) {
            console.log("GOT DATA");
            var obj = JSON.parse(data);
            //console.log(obj.Value);
            //console.log(obj.Value["505008000000"]);
            for (var key in obj.Value) {
              console.log(key)
              var date = new Date(parseInt(key));
              console.log(date);
              var stockPrice = obj.Value[key];
              console.log(stockPrice);
            }
          });
        });
      </script>
  </body>
</html>
